.nav-file-title-content::before {
    content: "📄" !important;
    position: relative !important;
    right: 1px;
}

[data-path$=".png"]::before {
    content: "🎞" !important;
    position: relative !important;
    right: 1px;
}

[data-path$=".png"] .nav-file-title-content::before {
    display: none;
}

.nav-folder-title .nav-folder-title-content::before {
    content: "💾" !important;
    position: relative !important;
    right: 1px;
}



/* 给左侧边栏文件夹前添加图标，""内图标和文件夹名称请自行修改 */
.nav-folder-title[data-path^="00--剪藏"] .nav-folder-title-content::before {
    content: "📁" !important;
    position: relative !important;
    right: 1px;
}


.nav-folder-title[data-path="00--剪藏"] .nav-folder-title-content::before {
    content: "🗳️" !important;
    position: relative !important;
    right: 1px;
}

.nav-folder-title[data-path^="01--知识体系"] .nav-folder-title-content::before {
    content: "📁" !important;
    position: relative !important;
    right: 1px;
}


.nav-folder-title[data-path="01--知识体系"] .nav-folder-title-content::before {
    content: "📚" !important;
    position: relative !important;
    right: 1px;
}



.nav-folder-title[data-path^="02--读书笔记"] .nav-folder-title-content::before {
    content: "📁" !important;
    position: relative !important;
    right: 1px;
}


.nav-folder-title[data-path="02--读书笔记"] .nav-folder-title-content::before {
    content: "✏" !important;
    position: relative !important;
    right: 1px;
}

.nav-folder-title[data-path^="03--学习方法论"] .nav-folder-title-content::before {
    content: "📁" !important;
    position: relative !important;
    right: 1px;
}


.nav-folder-title[data-path="03--学习方法论"] .nav-folder-title-content::before {
    content: "🔍" !important;
    position: relative !important;
    right: 1px;
}

.nav-folder-title[data-path^="04--看板收集箱"] .nav-folder-title-content::before {
    content: "💾" !important;
    position: relative !important;
    right: 1px;
}


.nav-folder-title[data-path="04--看板收集箱"] .nav-folder-title-content::before {
    content: "🗃" !important;
    position: relative !important;
    right: 1px;
}

.nav-folder-title[data-path^="04--看板收集箱"] .nav-file-title-content::before {
    content: "📋" !important;
    position: relative !important;
    right: 1px;
}